body {
    font-family: 'Montserrat Alternates';
    font-size: 25px;
    background-color:rgba(221, 238, 255);
}

#problem_name {
    text-align: center;
    color: rgba(0, 255, 0, 0.6);
}

#problem_source {
    position: relative;
    margin-left: 600px;
    color: rgba(255, 0, 0, 0.4);
}