html, body {
    font-family: 'sans-serif';
    margin: 0;
    background-color: #eeeeee;
}

.container {
    width: 80vw;
    position: absolute;
    left: 10vw;
}

.header {
    background-color: #353b43;
    color: #57cc8a;
    font-size: 30px;
    margin: 0;
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: sticky;
    top: 0;
}

.main {
    border-radius: 15px;
    box-shadow: 5px 5px 5px #353b43;
    width: 76vw;
    height: auto;
    margin-top: 20px;
    background-color: white;
    font-size: 20px;
    padding: 15px 2vw 15px 2vw;
}
