html, body {
    font-family: 'Lora';
    margin: 0px 0px 0px 0px;
    line-height: 2;
}

.container {
    display: flex;
    background-color: hsl(214,11,23);
}

.intro {
    width: 20%;
    height: 100vh;
    background-color: rgb(36,41,48);
    position: sticky;
    justify-content: space-around;
    text-align: center;
    color: rgb(87,204,138);
    top: 0px;
}

.ava img {
    height: 250px;
    width: 100%;
}

#quote {
    text-shadow: 1px 1px azure;
}

.problems {
    width: 80%;
    background-color: rgb(53,59,67);
    color: white;
    padding-left: 20px;
}
